/* reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

/* end reset */

@font-face {
    src: url('/_includes/assets/fonts/PublicSans-Roman-VF.woff2');
    font-family: "Public Sans";
    font-style: normal;
}
@font-face {
    src: url('/_includes/assets/fonts/PublicSans-Italic-VF.woff2');
    font-family: "Public Sans Italic";
    font-style: italic;
}

:root {
    font-size: 1.35em;
    --puke-yellow: #e8d587;
    --orange: #f9b428; 
    --watermelon-red: #eb2c44;
    --dark-blue: #0e2431;
}

body {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    font-weight: 250;
    background: var(--puke-yellow);
    color: var(--dark-blue);
}

main {
    background: var(--puke-yellow);
    margin: 15px auto;
    width: 90%;
    max-width: 666px;
}
@media (min-width: 768px) {
    body {
        background: var(--watermelon-red);
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230e2431' fill-opacity='0.6'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    main {
        margin: 15px;
        border: 3px solid var(--orange);
        border-radius: 10px;
        padding: 15px;
        max-height: 450px;
        overflow: scroll;
    }
}

/* link styling */
a {
    color: var(--watermelon-red);
}
a:hover {
    background: var(--watermelon-red);
    color: var(--puke-yellow);
}

/* titles */
h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 750;
    text-transform: uppercase;
    line-height: .8em;
    width: min-content;
    color: var(--watermelon-red);
}

/* text */
p {
    margin-bottom: 15px;
}

/* timestamps */
time {
    font-size: .8rem;
    font-weight: 550;
}
