@font-face {
    src: url('/_includes/assets/fonts/PublicSans-Roman-VF.woff2');
    font-family: "Public Sans";
    font-style: normal;
}
@font-face {
    src: url('/_includes/assets/fonts/PublicSans-Italic-VF.woff2');
    font-family: "Public Sans Italic";
    font-style: italic;
}

:root {
    font-size: 1.75em;
}

body {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    font-weight: 250;
}

h1 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
    font-weight: 750;
    text-transform: uppercase;
    line-height: .8em;
    width: min-content;
}

