/* reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    list-style: none;
}

/* end reset */

@font-face {
    src: url('/_includes/assets/fonts/PublicSans-Roman-VF.woff2');
    font-family: "Public Sans";
    font-style: normal;
}
@font-face {
    src: url('/_includes/assets/fonts/PublicSans-Italic-VF.woff2');
    font-family: "Public Sans Italic";
    font-style: italic;
}

:root {
    font-size: 1.35em;
    --puke-yellow: #e8d587;
    --orange: #f9b428; 
    --watermelon-red: #eb2c44;
    --dark-blue: #0e2431;
}

body {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    font-weight: 250;
    background: var(--puke-yellow);
    color: var(--dark-blue);
}

main{
    margin: 15px auto;
    width: 90%;
    max-width: 800px;
}

/* link styling */
a {
    color: var(--watermelon-red);
}
a:hover {
    background: var(--watermelon-red);
    color: var(--puke-yellow);
}

/* titles */
h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 750;
    text-transform: uppercase;
    line-height: .8em;
    width: min-content;
    color: var(--watermelon-red);
}

/* timestamps */
time {
    font-size: .8rem;
    font-weight: 550;
}
