<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146827146-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-146827146-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DarZouras--{{ title }}</title>

    <meta property="og:title" content="DarZouras--{{ title }}" />
    <meta property="og:description" content="{{ summary }}" />
    <meta property="og:image" content="{{ header }}" />
    <meta property="og:locale" content="en_US" />

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/static/img/jigglypuff1.gif" type="image/x-icon">

    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link rel="stylesheet" href="/_includes/assets/css/main.css" type="text/css">
    {% for file in styles %}
        <link rel="stylesheet" href="{{ file }}" type="text/css">
    {% endfor %}
</head>
