<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DarZouras--{{ title }}</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="ghost-favicon.gif" type="image/x-icon">

    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link rel="stylesheet" href="/_includes/assets/css/main.css" type="text/css">
    {% for file in styles %}
        <link rel="stylesheet" href="{{ file }}" type="text/css">
    {% endfor %}
</head>
