<!doctype html>
<html>
    {% include "components/head.njk" %}

    <body>
        <div class="body-wrapper">
            {% include "components/header.njk" %}
            {% include "components/nav.njk" %}

            <main>
                {{ layoutContent | safe }}
            </main>

            {% include "components/footer.njk" %}
        </div>

        {% for file in scripts %}
            <script src="{{ file }}"></script>
        {% endfor %}

        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker
                         .register('/sw.js')
                         .then(function() {
                             console.log("Service Worker Registered");
                         })
            }
        </script>
    </body>
</html>