<!doctype html>
<html>
    {% include "components/head.njk" %}

    <body>
        <main>
            {{ layoutContent | safe }}
        </main>

        {% for file in scripts %}
            <script src="{{ file }}"></script>
        {% endfor %}
    </body>
</html>