<!doctype html>
<html>
    {%include "components/head.njk" %}

    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <body>
        <main>
            {{ layoutContent | safe }}
        </main>

        {% for file in scripts %}
            <script src="{{ file }}"></script>
        {% endfor %}
    </body>
</html>