---
layout: layouts/base.njk
---

<article class="blog-post">
    <h1>{{ title }}</h1>

    <p><time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time></p>

    {{layoutContent | safe }}
</article>